.rewards {
    color: #fff;
    margin: 90px 0px;
    position:relative;
}



h1 {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2px;
}


.winners{
    padding: 6rem 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
