*{
    box-sizing: border-box;
    margin: 0px;
}

body {
    background: url(./assets/images/blob.png) center center no-repeat;
    background-color: #000000;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}


.container{
    height: 100%;
    backdrop-filter: blur(25px);
    padding: 1rem 4rem;
}
