.wrapper {
    margin-top: 80px;
}

.btn {
    cursor: pointer;
    border: 0;
    background: transparent;
    padding: $gutter10 $gutter;
    border-radius: $border-radius-normal;
    transition: $transition-in-out;
}